{% extends 'JpassThemeBundle:theme:base.html.twig' %}

{% block body %}
    {% block menu %}
    {% endblock %}
    <div id="content" class="pusher">
        <div class="ui fixed top menu">
            <a class="launch icon mobile only item">
                <i class="content icon"></i>
            </a>
            {% block top_menu %}
            {% endblock %}
        </div>
        <div class="ui container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="ui inverted vertical footer segment">
        <br>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        .fixed.launch.button {
            display: block;
            position: fixed;
            top: 2.5em;
            left: 0px;
            width: 55px;
            height: auto;
            white-space: nowrap;
            overflow: hidden;
            -webkit-transition: 0.3s width ease, 0.5s transform ease;
            -moz-transition: 0.3s width ease, 0.5s transform ease;
            -o-transition: 0.3s width ease, 0.5s transform ease;
            -ms-transition: 0.3s width ease, 0.5s transform ease;
            transition: 0.3s width ease, 0.5s transform ease;
        }
        .fixed.launch.button:hover {
            width: 130px;
        }

        .fixed.launch.button .text {
            position: absolute;
            white-space: nowrap;
            top: auto;
            left: 54px;
            opacity: 0;
            -webkit-transition: 0.3s opacity 0.3s;
            -moz-transition: 0.3s opacity 0.3s;
            -o-transition: 0.3s opacity 0.3s;
            -ms-transition: 0.3s opacity 0.3s;
            transition: 0.3s opacity 0.3s;
        }
        .fixed.launch.button:hover .text {
            opacity: 1;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var $menu = $('.main.menu');

            if($(window).width() >= 1300)
            {
                $menu.addClass('visible thin');
                $('.big.launch.button').hide();
                $('.pusher').css('min-height', $(window).height()+'px');
            }
            else
            {
                $menu
                    .sidebar({
                        dimPage: true,
                        transition: 'scale down',
                        mobileTransition: 'uncover'
                    })
                ;
                $menu.sidebar('attach events', '.launch');
            }

            $('.ui.dropdown').dropdown();
        });
    </script>
{% endblock %}
